body {
	background-color:#25232e;
	color: white;
}

h1 {
	font-size: 2em;
	text-align: center;
}

.listing {
	list-style: none;
	margin: 2em;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
