body {
	background-color:#25232e;
	color: white;
}

h1 {
	font-size: 2em;
	text-align: center;
}

.listing {
	list-style: none;
	margin: 2em;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.body {
	transition: transform 0.2s ease-in-out;
}

.body:hover {
	transform: scale(1.05);
}

.nom {
	text-align: center;
}