body {
	background-color:#25232e;
	color: white;
}

h1 {
	font-size: 2em;
	text-align: center;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 10px;
	row-gap: 1em;
}