<!DOCTYPE html>
<html lang="fr">

{% load static %}

<link rel="stylesheet" href="{% static 'catalogue/listing.css' %}">

<head>
	<meta charset="UTF-8">
	<title>Liste des Articles</title>
</head>
<body>
	<h1>Articles disponibles</h1>
	{% if latest_articles_list %}
		<ul class="listing">
			{% for article in latest_articles_list %}
				<li>
					<div class="body">
						<a href="{% url 'catalogue:details' article.id %}">
							<img class="img" src="{{ article.photo }}" alt="{{ article.nom }}">
							<div><p>{{ article.nom }}</p></div>
						</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucun article disponible</p>
	{% endif %}
</body>
</html>